<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Trello.Feature.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="xUnit" /></specFlow>
  <applicationSettings>
    <Trello.Feature.Properties.Settings>
      <setting name="WebDriver" serializeAs="String">
        <value>Chrome</value>
      </setting>
      <setting name="TrelloUsername" serializeAs="String">
        <value>survias@live.com</value>
      </setting>
      <setting name="TrelloEncryptedPassword" serializeAs="String">
        <value>bkXCU+WNOvX65D7ETwkWyBLFr00/8FQS9vhlCGr6Pu8Q240YxuSWZXU07fQkDr6zjMNKebxLvlTXj/4YJ4h00sI/O+cHsUlmrNaByrn0UVFsJcL6hKc9oMZIqqhaOD/O</value>
      </setting>
      <setting name="IsMaximized" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UniversalTimeout" serializeAs="String">
        <value>00:00:10</value>
      </setting>
    </Trello.Feature.Properties.Settings>
  </applicationSettings>
</configuration>